{% extends '_layout.html' %}

{% block css %}
<style>
    h1 {
        text-align: center;
        padding-top: 50px;
        font-size: larger;
    }

    h3 {
        padding-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        font-size: medium;
    }

    p {
        padding-top: 20px;
        margin-left: 100px;
        margin-right: 100px;
        font-size: medium;
    }
</style>

{% endblock %}


{% block body %}


<h1>About us</h1>
<h3>Homework Help is dedicated to providing exceptional solutions to various homework related questions.</h3>
<p>
    At Homework Help, we are assisting millions of students through our easy to use interface. With an active
    community of over 25 million registered accounts, we are able to provide quaility and accuracy for free. Start helping
    yourself and others today!
</p>
<br>
<h1>Our creators</h1>



{% endblock %}