{% extends '_layout.html'%}

{%block body%} 

<div class="container">
    <h1>Account Creation</h1>
</div>

<form action="/account_creation" method="post">
<div class="container">
    <label for="exampleFormControlInput1" class="form-label" >Enter Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" name = "email" id = "email">
</div>

<div class = "container"></div>

<div class="container">
    <label for="exampleFormControlInput1" class="form-label">Enter password</label>
    <input class="form-control" type = "text" id="exampleFormControlInput1" placeholder="name@example.com" name = "password" id = "password">
</div>

<div class="container">
<label for="exampleFormControlInput1" class="form-label">Enter First Name</label>
<input class="form-control" type="text" placeholder="Default input" aria-label="default input example" name="first_name" id="last_name">
</div>

<div class="container">
<label for="exampleFormControlInput1" class="form-label">Enter Last Name</label>
<input class="form-control" type="text" placeholder="Default input" aria-label="default input example" name="last_name" id="last_name">
</div>

<div class="container">
<label for="exampleFormControlInput1" class="form-label">Enter Desired Username</label>
<input class="form-control" type="text" placeholder="Default input" aria-label="default input example" name="username" id="username">
</div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>

{%endblock%} 