{% extends '_layout.html'%}

{%block body%} 

<div class="container">
    <h1>Account Creation</h1>
</div>

<div class="container">
    <label for="exampleFormControlInput1" class="form-label">Enter Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class = "container"></div>

<div class="container">
    <label for="exampleFormControlInput1" class="form-label">Enter password</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>

<div class ="container">
    <button type="button" class="btn btn-primary">Submit</button>
</div>



{%endblock%} 