{% extends '_loggedinlayout.html' %}
{% block css %}
<style>
    
    .btn-logout {
        background-color: inherit;
        border:none;
        text-decoration: none;
        cursor: pointer;
        display:inline-block;
        padding-left: 20px;
        
    }
    .btn-logout:hover {
        background-color: none;
        
    }
    #post_body {
        width:100px;
        height:500px;
    }
</style>
{% endblock %}
{% block nav %}

{% endblock %}

{% block body %}
<!--Send this information to the route "obtain_post_info" using the post method-->
<div style="margin-left: 10px;">
    <form action="/post/{{ post.post_id }}" method = "post" style="width:500px;">
        

        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name = "post_subject">
            <option selected>{{post.subject_tag}}</option>
            <option value="Math">Math</option>
            <option value="English">English</option>
            <option value="Science">Science</option>
            <option value="Other">Other</option>
        </select>
        <div class="mb-3">
            <input class="form-control" type="text" placeholder="Title" aria-label="default input example" name="post_title" id="post_title" value="{{ post.title }}">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Question</label>
            <textarea class="form-control" id="post_body" name = "post_body"> {{ post.main_text }} </textarea>
        </div>

            <button type="submit" class ="btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% endblock %}