{% extends '_loggedinlayout.html' %}
{% block css %}
<style>
    
    .btn-logout {
        background-color: inherit;
        border:none;
        text-decoration: none;
        cursor: pointer;
        display:inline-block;
        padding-left: 20px;
        
    }
    .btn-logout:hover {
        background-color: none;
        
    }
    
    .edit-container {
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 2em;
        padding: 2em 2em 2em 2em;
        width: 800px;
        
        margin-bottom: 10px;
    }
    .edit-container form textarea {
        width:31.3rem;
        height: 10rem;
    }
    .edit-container .form-select {
        height:2.7rem;

    }
    .edit-container .btn-update {
        margin-top: 2em;
    }
    .edit-container form .form-select {
        margin-bottom: 1rem;
    }
</style>
{% endblock %}
{% block nav %}

{% endblock %}

{% block body %}
<!--Send this information to the route "obtain_post_info" using the post method-->
<div class="edit-container">
    <form action="/post/{{ post.post_id }}" method = "post" style="width:500px;">
        <h1>Edit Post</h1>

        <select class="form-select form-select-sm" aria-label=".form-select-sm example" name = "post_subject">
            <option selected>{{post.subject_tag}}</option>
            <option value="Math">Math</option>
            <option value="English">English</option>
            <option value="Science">Science</option>
            <option value="Other">Other</option>
        </select>
        <div class="mb-3">
            <input class="form-control" type="text" placeholder="Title" aria-label="default input example" name="post_title" id="post_title" value="{{ post.title }}">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Question</label>
            <textarea class="form-control" id="post_body" name = "post_body"> {{ post.main_text }} </textarea>
        </div>

            <button type="submit" class ="btn-update btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% endblock %}