{% extends '_layout.html' %}

<!-- Well done injecting this into the head this way! -->
{% block css %}
<style>
    .home-container h1 {
        padding-top: 4em;
        padding-left:690px;
        font-size: 3rem;
    }
    .home-container h2 {
        
        padding-left: 690px;
    }
    .home-container button {
        margin-left:690px;
        margin-top: 1em;
    }
    .signup-btn {
        border-radius: 8px;
        padding: 10px 28px;
        background-color: #0d6efd;
        border-color: #0d6efd;
        border: none;
        color: white;
        font-size: 18px;
        
    }
    .signup-btn:hover {
        background-color: #0065fc;
    }

</style>
{% endblock %}

{% block nav %}
<div class="d-flex align-items-center">
    <a class = "btn btn-primary me-3" href = "/login">Login</a> 
</div>

{% endblock %}

{% block body %}

<div class = "bg">
    <div class="home-container">
        <h1>Be better, learn better</h1>
        <h2>Access to materials with expert support</h2>
        
        <!-- This will need to be inside of a form -->
        <button type = "submit" class="signup-btn">Sign Up</button> 
     </div>
</div>




{% endblock %}