{% extends '_layout.html' %}

{% block css %}
<style>
    img {
        background-size: cover;
        background-position: center;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: 0.6;



    }

    .login-container {
        width: 475px;
        height: 475px;
        background: white;
        color: black;
        top: 15%;
        left: 60%;
        position: absolute;
        padding: 30px 30px 30px 30px;
        border-radius: 25px;

    }

    .login h1 {
        margin-bottom: 1rem;
    }

    .login p {
        font-size: 20px;
        margin-bottom: 2rem;
    }
    input[type='password'] {
        font-family: Verdana;
        letter-spacing: 0.125em;
    }
</style>
{% endblock %}

{% block nav %}
<!--Nav bar sign up -->
<div class="d-flex align-items-center">
    <a class="btn btn-primary me-3" href="/account_creation">Sign Up</a>
</div>
{% endblock %}


{% block body %}

<!--login container-->
<div class="background-container">
    <img src="{{url_for('static', filename='home-person.jpg')}}" alt="bg">
    <div class="login-container">
        <form class="login" action="/login" method="post">

            <h1>Login</h1>
            <p>Don't have an account yet? <a href="/account_creation">Sign Up</a></p>

            <div class="mb-3">
                <label for="username" class="username">Username</label>
                <input type="username" name="username" class="form-control" id="username" style="width: 25em;"
                    autocomplete="off">
            </div>
            <div class="mb-3">
                <label for="password" class="password">Password</label>
                <input type="password" name="password" class="form-control" id="password" style="width: 25em;"
                    autocomplete="off">
            </div>
            <div class="mb-3">
                <input type="checkbox" name="password" onclick="showPassword()">
                <label for="password">Show Password</label>
            </div>
            <button type="submit" class="btn btn-primary" onclick="empty()">Login</button>


        </form> 
    </div>

</div>

<script>
    //function to show user password
    function showPassword(){
        var x = document.getElementById('password');

        if (x.type === "password")  {
            x.type = "text";

        }
        else {
            x.type = "password";
        }
    }

    //function in case there's empty fields
    function empty() {
        //username
        var x = document.getElementById('username').value;
        //password
        var y = document.getElementById('password').value;
        if(x  == "" ) {
            alert("Please fill out empty fields.")
        }
        else if(y == "") {
            alert("Please fill out empty fields.")
        };
    }
</script>



{% endblock %}