{% extends '_layout.html' %}

{% block css %}
<style>
    .login {
        padding:8em 0em 0em 45em;

    }
    .login h1 {
        font-size: 34px;
    }
    .login h2 {
        font-weight:normal;
        font-size: 18px;
        padding-bottom: 15px;
    }
    .email, .password {
        font-size: 18px;
        margin-bottom: 4px;
        
    }
    
    
</style>
{% endblock %}

{% block nav %}
<div class="d-flex align-items-center">
    <a class = "btn btn-primary me-3" href = "/login">Sign Up</a> 
</div>
{% endblock %}


{% block body %}

<form class="login">
    <div class = "container" style="text-align: left;">
    <h1>Login</h1>
    <h2>Don't have an account yet? <a href= "#">Sign Up</a></h2>
    
    <div class="mb-3">
      <label for="exampleInputEmail1" class="email">Email Address</label>
      <input type="email" class="form-control" id="email" style="width: 25em;" >
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="password">Password</label>
      <input type="password" class="form-control" id="password" style="width: 25em;">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>


{% endblock %}