{% extends '_loggedinlayout.html' %}
{% block css %}

<style>
    .profile-container {
        padding: 20px 15px;
        
        background-repeat: no-repeat;
        background-size: cover;
        height: 60rem;

    }
    .profile-details {
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 5em;
        padding: 2em 2em 2em 2em;
        width: 60rem;
        height: 10rem;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .pd-row {
        display: flex;
        align-items: flex-start;

    }

    .pd-img {
        width: 100px;
        margin-right: 20px;
        border-radius: 6px;
    }

    .pd-row div h3 {
        font-size: 25px;
        font-weight: 600;

    }

    .pd-row div p {
        font-size: 13px;
    }

    .profile-info {
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin: 0 0 0 10em;
        padding: 2em 2em 2em 2em;
        width: 60rem;
        height: 15rem;
        margin-bottom: 10px;

    }



    .profile-post {
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin: 0 0 0 10em;
        padding: 2em 2em 2em 2em;
        width: 60rem;
        height: 6rem;
        margin-bottom: 10px;


    }

    .profile-settings {
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin: 0 0 0 10em;
        padding: 2em 2em 2em 2em;
        width: 60rem;
        height: 6rem;
        margin-bottom: 10px;

    }
    .settings {
        display: flex;
        align-items: center;
    }
    .settings h3 {
        margin-right: 23rem;
    }
    .settings button {
        margin-left: 10px;
    }
    .post {
        display: flex;
        align-items: center;
    }
    .post h3 {
        margin-right: 28.3rem;
    }
    .post p {
        margin-left: 10px;
        
    }
</style>

{% endblock %}

{%block body%}
<div class="profile-container">

    <div class="profile-details">
        <div class="pd-left">
            <div class="pd-row">

                <img src="{{url_for('static', filename='user-img.png')}}" class="pd-img" alt="user-img">
                <div>
                    <h3> {{current_user.first_name}} {{current_user.last_name}}</h3>

                </div>
            </div>

        </div>
    </div>
    <div class="profile-info">
        <div class="user">
            <h3>Username</h3>
            <p>{{current_user.username}}</p>
            <h3>Email</h3>
            <p>{{current_user.email}}</p>

        </div>

    </div>
    <div class="profile-post">
        <div class="post">
            <h3>User Posts</h3>
            <p> <a href="/user_posts/{{ current_user.account_id }}" class="btn btn-primary">View My Posts</a> </p>
            <p><a href="/user_replies/{{ current_user.account_id }}" class="btn btn-primary">View My Replies</a></p>
        </div>
    </div>
    <div class="profile-settings">
        <div class="settings">
            <h3>Account Settings</h3>
            <button id="edit" type="button" class="btn btn-primary">Edit Account Info</button>
            <button id="delete" type="button" class="btn btn-danger">Delete Account</button>
        </div>
    </div>
</div>




<script type="text/javascript">
    document.getElementById("edit").onclick = function () {
        location.href = "/edit_account.html";
    };
    document.getElementById("delete").onclick = function () {
        location.href = "/delete_account/{{ current_user.account_id }}";
    };
</script>
{%endblock%}