{% extends '_loggedinlayout.html' %}
{% block css %}
<style>
    .post-container .btn-reply {
        margin-right: 2em;
        margin-top: 2em;

    }

    .post-container .btn-view {
        margin-top: 2em;

    }

    .post-container {
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 2em;
        padding: 2em 2em 2em 2em;
        width: 800px;
        margin-bottom: 10px;
    }

    .post-text {
        color: black;
        margin-left: 10px;
    }

    .header {
        display: flex;
        align-items: center;

    }

    .header h1 {
        font-size: 20px;
        align-items: flex-start;
    }

    

    .header .buttons .btn-edit {
        margin-right: 10px;
    }
    
    .buttons-details {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        float: right;   
    }

    .bd-row {
        display: flex;

    }
    .edit-btn {
        margin-right: 10px;
    }
    .response p {
        width:500px;
        height:50px;
        word-wrap: break-word;
        margin-bottom: 2rem;
        
    }
</style>
{% endblock %}


{% block nav %}

{% endblock %}


{% block body %}
<p>
<div class="post-container">
    <div class="inside-text">
        <div class="header">
            <h1>My Response:</h1>
        </div>
        <div class="buttons-details">
            <div class="bd-right">
                <div class="bd-row">
                    <button onclick="location.href='/reply/{{ reply.reply_id }}/edit';"
                        class="edit-btn btn btn-primary">
                        <span class="edit-icon">
                            <ion-icon name="create-outline"></ion-icon>
                        </span>

                    </button>
                    <form action="/reply/{{ reply.reply_id }}/delete" method="post">
                        <button class="delete-btn btn btn-danger">
                            <span class="delete-icon">
                                <ion-icon name="trash-outline"></ion-icon>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div class="response">
            <p>{{ reply.main_text }}</p>
        </div>


    </div>
</div>



</p>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}