{% extends '_loggedinlayout.html' %}
{% block css %}
<style>
   
    .post-text {
        color:black;
        margin-left:10px;
    }
    .inside-text {
        width: fit-content;
    }
    
    .post-container {
        background:white;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 2em;
        padding: 2em 2em 2em 2em;
        width: 800px;
        margin-bottom: 10px;
    }
    

</style>
{% endblock %}
{% block nav %}

{% endblock %}
{% block body %}
{% if hasReplies == 1 %}
<div class = "post-container">
    <p> You have replies associated with this post! <a href="/my_replies/{{ post.post_id }}">Click here to view them</a> </p>
</div>
{% endif %}
    <div class = "post-container">
        <b>
        <p> Subject: {{ post.subject_tag }}</p>
        <p> Title: {{ post.title }}<p>
        <p> {{ post.date_time }}<p>
        <p> Posted By: {{ username }}</p>
        </b>
        <p> Question: {{ post.main_text }}</p>
        <button onclick ="location.href='/create-reply/{{ post.post_id }}';" class="btn-view btn btn-primary">Reply</button>
    </div>
   
    {% for associated_reply in replies %}
    <div class= "post-container">
        <p> <b>User {{ associated_reply.username }} responded with: </b> </p>
        <p> {{ associated_reply.main_text }}</p>
    </div>
    {% endfor %}
{% endblock %}