{% extends '_layout.html' %}
{% block css %}
<style>
   .post-container {
        border:1px solid blue;
        margin-left:10px;
        width:50%;
        margin-bottom:10px;
    }
    .post-text {
        color:black;
        margin-left:10px;
    }
    .inside-text {
        width: fit-content;
    }
    

</style>
{% endblock %}
{% block nav %}
<div class="d-flex align-items-center">
    <a class = "btn btn-primary me-3" href = "/login">Login</a> 
</div>
{% endblock %}
{% block body %}
    <div class = "post-container">
        <p> {{ post.title }}<p>
        <p> {{ post.main_text }}<p>
        <p> {{ post.date_time }}<p>
        <p> Subject: {{ post.subject_tag }}</p>
        <p> Posted by user: {{ username }}</p>
    </div>
{% endblock %}