{% extends '_loggedinlayout.html' %}
{% block css %}
<style>
    .post-container {
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 2em;
        padding: 2em 2em 2em 2em;
        width: 800px;
        margin-bottom: 10px;
    }

    .post-text {
        color: black;
        margin-left: 10px;
    }

    .inside-text {
        width: fit-content;
    }

    
</style>
{% endblock %}
{% block nav %}

{% endblock %}
{% block body %}
<div class="post-container">
    <p> Subject: {{ post.subject_tag }}</p>
    <p> Title: {{ post.title }}</p>
    <p> Question: {{ post.main_text }}</p>
    <p> {{ post.date_time }}</p>
    <p> Posted By: {{ username }}</p>
    <button onclick="location.href='/post/{{ post.post_id }}/edit';" class="btn btn-primary">Edit</button>


    <form action="/post/{{ post.post_id }}/delete" method="post">
        <button class="btn btn-primary">Delete</button>
    </form>
</div>


    {% for associated_reply in replies %}
    <div class="post-container">
    <p> Text: {{ associated_reply.main_text }}</p>
    <p> Post ID: {{ associated_reply.post_id }}</p>
    <p> Account ID: {{ associated_reply.account_id }}</p>
    </div>
    {% endfor %}
{% endblock %}