{% extends '_loggedinlayout.html' %}
{% block css %}
<style>
    .note-container {
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 2em;
        padding: 2em 2em 2em 2em;
        width: 800px;
        margin-bottom: 10px;
    }

    .post-container {
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 15px;
        padding: 2em 2em 2em 2em;
        width: 800px;
        margin-bottom: 10px;

    }

    .post-text {
        color: black;
        margin-left: 10px;
    }

    .inside-text {
        width: fit-content;
    }

    .post-container h2 {
        margin-bottom: 15px;
        width: 400px;
    }

    .solutions-header {
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 2em;

        padding: 2em 2em 2em 2em;
        width: 800px;
        margin-bottom: 10px;
    }

    .reply-container {
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 2px;
        padding: 2em 2em 2em 2em;
        width: 800px;
        margin-bottom: 10px;
    }

    .buttons-details {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .right-row {
        display: flex;

    }
    .edit-btn {
        margin-right: 10px;
    }
    .reply-container #reply {
        word-wrap: break-word;
        width:500px;
        height:60px;
    }
</style>
{% endblock %}
{% block nav %}

{% endblock %}
{% block body %}
{% if hasReplies == 1 %}
<div class="note-container">
    <p> You have replies associated with this post! <a href="/my_replies/{{ post.post_id }}">Click here to view them</a>
    </p>
</div>
{% endif %}

<div class="post-container">
    <div class="container">
        <div class="question">
            <h2>Question</h2>
        </div>






        <b>
            <p> Posted By: {{ username }}</p>
            <p> Subject: {{ post.subject_tag }}</p>
            <p> Title: {{ post.title }}

            <p> {{ post.date_time }}

        </b>
        <p> Question: {{ post.main_text }}</p>
        <div class="buttons-details">
            <div class="bd-left">
                <div class="bd-row">

                    <button onclick="location.href='/create-reply/{{ post.post_id }}';"
                        class="btn-reply btn btn-primary">
                        <span class="reply-icon">
                            <ion-icon class="reply" name="arrow-redo-outline"></ion-icon>
                        </span>
                    </button>
                </div>
            </div>
            <div class="bd-right">
                <div class="right-row">

                    <button onclick="location.href='/post/{{ post.post_id }}/edit';" class="edit-btn btn btn-primary">
                        <span class="edit-icon">
                            <ion-icon name="create-outline"></ion-icon>
                        </span>

                    </button>
                    <form action="/post/{{ post.post_id }}/delete" method="post">
                        <button class="delete-btn btn btn-danger">
                            <span class="delete-icon">
                                <ion-icon name="trash-outline"></ion-icon>
                            </span>
                        </button>
                    </form>
                </div>
            </div>



        </div>
    </div>
</div>

<div class="solutions-header">
    <h2>Solutions</h2>
</div>


{% for associated_reply in replies %}
<div class="reply-container">

    <p> <b>User {{ associated_reply.username }} responded with: </b> </p>
    <p id="reply"> {{ associated_reply.main_text }}</p>
</div>
{% endfor %}

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


{% endblock %}