{% extends '_loggedinlayout.html' %}

{% block css %}

<style>
    
    .profile .profile-header {
        background:white;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 5em;
        padding: 2em 2em 2em 2em;
        width: 800px;
        height:200px;
        margin-bottom: 10px;
    }
</style>

{% endblock %}

{% block nav %}


{% endblock %}

{% block body %}

<div class="profile">
    <div class="profile-header">
        <img src="#">
        
        <div class="profile-body">

        </div>
    </div>

</div>

{% endblock %}


