{% extends '_loggedinlayout.html' %}

{% block css %}

<style>
    .profile-container {
        padding: 20px 15px;
        
    }
    .profile-details {
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin-left: 10em;
        margin-top: 5em;
        padding: 2em 2em 2em 2em;
        width: 60rem;
        height: 10rem;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .pd-row {
        display: flex;
        align-items: flex-start;

    }
    .pd-img {
        width:100px;
        margin-right: 20px;
        border-radius: 6px;
    }
    .pd-row div h3 {
        font-size: 25px;
        font-weight: 600;

    }
    .pd-row div p {
        font-size: 13px;
    }
    .profile-info {
        background: rgb(255, 255, 255);
        border-radius: 10px;
        box-shadow: 0 2px 2px rgb(157, 157, 157);
        margin: 0 0 0 10em;
        padding: 2em 2em 2em 2em;
        width: 60rem;
        height: 40rem;
        margin-bottom: 10px;
        
    }
    
</style>

{% endblock %}

{% block nav %}


{% endblock %}

{% block body %}

<div class="profile-container">

    <img src="#">
    <div class="profile-details">
        <div class="pd-left">
            <div class="pd-row">
                <img src="{{url_for('static', filename='user-img.png')}}" class="pd-img" alt="user-img">
                <div>
                    <h3> {{ user }}</h3>
                    <p>weretrytui</p>
                </div>
            </div>

        </div>
        <div class="pd-right"></div>

    </div>
    <div class="profile-info">
        <div class="info-col"></div>
        <div class="post-col">

        </div>
    </dic>
</div>

{% endblock %}