{% extends '_layout.html' %}
{% block css %}
<style>
   .post-container {
        border:1px solid blue;
        margin-left:10px;
        width:50%;
        margin-bottom:10px;
    }
    .post-text {
        color:black;
        margin-left:10px;
    }
    .inside-text {
        width: fit-content;
    }
    

</style>
{% endblock %}
{% block nav %}
<div class="d-flex align-items-center">
    <form action="/logout" method="post">
        <button type="submit" class = "btn btn-primary me-3">Logout</button>
    </form>
</div>
{% endblock %}
{% block body %}
<p> 
    {% for current_post in all_posts %}
    <div class = "post-container">
        <div class = "inside-text">
        <p>{{ current_post.title }}</p>
        <p>{{ current_post.main_text }}</p>
        <p>{{ current_post.subject_tag }}</p>
        </div>
        <button type="reply" class="btn btn-primary">Reply</button>
        <button onclick ="location.href='/post/{{ current_post.post_id }}';" class="btn btn-primary">View</button>
    </div>
    {% endfor %}

 
</p>
{% endblock %}